{% load staticfiles %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static "external/bootstrap/css/bootstrap.min.css" %}">
</head>
<body ng-app="{% block ng_app %}anytag.app.static{% endblock %}">
<div class="content" ng-controller="{% block ng_controller %}AppController{% endblock %}">{% block content %}
{% verbatim %}
    <select ng-model="tag" ng-options="tag.title for item in tags">
    </select>
    <select ng-model="tagvalue" ng-options="tagvalue.value for tagvalue in tagvalues | filter:{tag:tag.id}">
    </select>
    <div class="panel" ng-repeat="item in items | filter:{id:tagvalue.item}">
         <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
      <input type="text" class="form-control" value="{{ item.value }}" disabled>
         <ul>
             <li ng-repeat="tag in item.tags">{{ tag.value }}</li>
             <li>Add Tag</li>
         </ul>
    </div><!-- /input-group -->
    </div>
{% endverbatim %}
{% endblock %}</div>
<script src="{% static "external/jquery/jquery-2.1.0.min.js" %}"></script>
<script src="{% static "external/underscore/underscore.min.js" %}"></script>
<script src="{% static "external/angular/angular.min.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
</body>
</html>